[flake8]

# Ignored as recommended for Black-compatibility
#     https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#id2
max-line-length = 88
extend-ignore = E203


max-complexity = 8


# D1  : Not every function needs a docstring
# W503: Line breaks should occur before the binary operator to keep all
#       variable names aligned
# E731: Lambda assignments are OK, use your best judgement!
ignore = D1,W503, E731
